<nav id="sidebar" class="sidebar">
    <div class="sidebar-content ">
        <a class="sidebar-brand" href="/home">
            <i class="align-middle" data-feather="box"></i>
            <span class="align-middle">Tony Dang</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Management
            </li>
            <li class="sidebar-item active">
                <a href="#dashboards" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/bakerymanagement" class="sidebar-link">
                    <i class="align-middle" data-feather="home"></i><span class="align-middle">Bakery Management</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/cakemanagement" class="sidebar-link">
                    <i class="align-middle" data-feather="stop-circle"></i> <span class="align-middle">Cake Management</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/requestmanagement" class="sidebar-link">
                    <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Request management</span>
                </a>
            </li>
            <li class="sidebar-header">
                Settings
            </li>
            <li class="sidebar-item">
                <a href="/dailystock" class="sidebar-link ">
                    <i class="align-middle" data-feather="repeat"></i> <span class="align-middle">Daily Stock</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/minmaxstock" class="sidebar-link ">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Min&Max Stock</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
