<nav id="sidebar" class="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="sidebar-content ">
        <a class="sidebar-brand" th:href="@{/home}">
            <img th:src="@{/images/logo.png}" width="45" height="45" style="margin-top: -1rem">
            <span class="align-middle">Tony Dang</span>
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Management
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/home}" class="sidebar-link">
                    <i class="align-middle" data-feather="home"></i><span class="align-middle"> Home</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/deliverymanagement}" class="sidebar-link">
                    <i class="align-middle" data-feather="package"></i><span class="align-middle"> Delivery Management</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/bakerymanagement}" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i><span class="align-middle"> Bakery Management</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/cakemanagement}" class="sidebar-link">
                    <i class="align-middle" data-feather="stop-circle"></i> <span class="align-middle">Cake Management</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/storemanagement}" class="sidebar-link">
                    <i class="align-middle" data-feather="database"></i><span class="align-middle"> Store Management</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${user_role == 'USER'}">
                <a th:href="@{/requestmanagement}" class="sidebar-link">
                    <i class="align-middle" data-feather="file-text"></i> <span class="align-middle">Request management</span>
                </a>
            </li>
            <li class="sidebar-header" th:if="${user_role == 'ADMIN'}">
                Settings
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/dailysale}" class="sidebar-link ">
                    <i class="align-middle" data-feather="repeat"></i> <span class="align-middle">Daily Sale</span>
                </a>
            </li>
            <li class="sidebar-item" th:if="${user_role == 'ADMIN'}">
                <a th:href="@{/minmaxstock}" class="sidebar-link ">
                    <i class="align-middle" data-feather="settings"></i> <span class="align-middle">Min&Max Stock</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
