<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link href="./css/classic.css" rel="stylesheet">
    <title>Bakery Management</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/M1"></div>
    <div class="main">
        <div th:insert="fragments/H2"></div>

        <main class="content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <a href="/addnewbakery"><h5 class="card-title mb-0"><i class="fas fa-plus btn btn-lg btn-primary pr-2">&nbsp New</i></h5></a>
                            </div>
                            <div class="card-body">
                                <table id="datatables-clients" class="table table-striped" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>User Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="list : ${pisBakery}">
                                        <td th:text="list."></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="/editbakery"><i class="align-middle mr-2" data-feather="edit-2"></i></a>
                                            <a onclick="deleteBakery()"  href="#"><i class="align-middle" data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>No.2</td>
                                        <td>Garrett Winters</td>
                                        <td>Good Guys</td>
                                        <td>0987654321</td>
                                        <td>garrett@winters.com</td>
                                        <td>garrett</td>
                                        <td>
                                            <a href="/editbakery"><i class="align-middle mr-2" data-feather="edit-2"></i></a>
                                            <a onclick="deleteBakery()"  href="#"><i class="align-middle" data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>No.3</td>
                                        <td>Garrett Winters</td>
                                        <td>Good Guys</td>
                                        <td>0987654321</td>
                                        <td>garrett@winters.com</td>
                                        <td>garrett</td>
                                        <td>
                                            <a href="/editbakery"><i class="align-middle mr-2" data-feather="edit-2"></i></a>
                                            <a onclick="deleteBakery()"  href="#"><i class="align-middle" data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>No.4</td>
                                        <td>Garrett Winters</td>
                                        <td>Good Guys</td>
                                        <td>0987654321</td>
                                        <td>garrett@winters.com</td>
                                        <td>garrett</td>
                                        <td>
                                            <a href="/editbakery"><i class="align-middle mr-2" data-feather="edit-2"></i></a>
                                            <a onclick="deleteBakery()"  href="#"><i class="align-middle" data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    function deleteBakery() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )
        }
    })

    }
</script>
<!--<script>-->
<!--    function deleteBakery() {-->
<!--        var txt;-->
<!--        var r = confirm("Are you sure ?");-->
<!--        if (r == true) {-->

<!--        } else {-->

<!--        }-->
<!--        // document.getElementById("demo").innerHTML = txt;-->
<!--    }-->
<!--</script>-->
<script src="./js/app.js"></script>
<script src="https://kit.fontawesome.com/837cd5ce58.js" crossorigin="anonymous"></script>
<script>
    $(function() {
        // Datatables clients
        $("#datatables-clients").DataTable({
            responsive: true,
            order: [
                [1, "asc"]
            ]
        });
    });
</script>
</body>
</html>
