<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/classic.css}">
    <title>TooWayBakery</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/M1"></div>
    <div class="main">
        <nav class="navbar navbar-expand navbar-light bg-white">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
            <h1 class="mt-2 ml-2">Cake Management</h1>
            <div class="navbar-collapse collapse" th:insert="fragments/H1"></div>
        </nav>
        <main class="content">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div>
                                    <a class="btn btn-primary font-weight-bold" href="/addnewcake"><i class="fas fa-plus"></i> New Cake</a>
                                </div>
                                <div th:if="${param.success}" style="width: 90%; margin:0 auto;">
                                    <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom: -1rem; margin-top: 1rem">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                        <div class="alert-message">
                                            Update successfully!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="datatables-clients" class="table table-striped" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Photo</th>
                                        <th>Price</th>
                                        <th>Number on tray</th>
                                        <th style="width: 50px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cake, stat : ${pisCake}">
                                        <td th:text="${stat.index} + 1"></td>
                                        <td th:text="${cake.name}"></td>
                                        <td ></td>
                                        <td th:text="${cake.price}"></td>
                                        <td th:text="${cake.piece_on_tray}"></td>
                                        <td>
                                            <a th:onclick="'location.href=\''+@{/editcake/{id}(id=${cake.id})}+'\''"><i class="align-middle mr-2" data-feather="edit-2"></i></a>
                                            <a th:onclick="'location.href=\''+@{/deletecake/{id}(id=${cake.id})}+'\''" ><i class="align-middle" data-feather="trash"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
    function deleteCake() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )
        }
    })

    }
</script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>
<script src="https://kit.fontawesome.com/837cd5ce58.js" crossorigin="anonymous"></script>
</body>
</html>
