<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/classic.css}">
    <title>Cake Management</title>
</head>
<body>
<div class="wrapper">
    <div th:insert="fragments/M1"></div>
    <div class="main">
        <div th:insert="fragments/H3"></div>
        <main class="content">
            <div class="container-fluid p-0" data-select2-id="10">

                <h1 class="h3 mb-3">Edit Cake</h1>

                <div class="row" data-select2-id="9">
                    <div class="col-12" data-select2-id="8">
                        <div class="card">
                            <div class="card-body">
                                <form id="validation-form" >
                                    <div class="form-group">
                                        <label class="form-label">ID</label>
                                        <input type="text" class="form-control" name="validation-id" placeholder="ID">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Name</label>
                                        <input type="text" class="form-control" name="validation-name" placeholder="Name" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Photo</label>
                                        <div>
                                            <input type="file" class="validation-photo" name="validation-photo" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Price</label>
                                        <input type="text" class="form-control" name="validation-price" placeholder="Price" required>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>
<script src="https://kit.fontawesome.com/837cd5ce58.js" crossorigin="anonymous"></script>
</body>
</html>